@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
#logo-navbar {
  height: 150px;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color:#205669;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
svg{
  color:#fff;
}
.text-muted {
  --bs-text-opacity: 1;
  color: #fff!important;
}
h1{
font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:#000000;
}
p{
  color:#000000;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.circle-image{
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 9rem;
  height: 9rem;
}
.circle-image img{
  width:100%;
  height:100%;
  object-fit: cover;
}